.card-white {
  background-color: white;
  padding: 28px 28px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 22px auto;
  padding-bottom: 50px;
  width: 600px;
}

.card-white i {
  font-size: 34px;
  color: #222831;
}